body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    color: white;

    #title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 5vw;
    }

    #podpis {
        font-size: 2vw;
    }

    #button {
        position: absolute;
        left: 90%;
        top: 90%;
        transform: translate(-50%, -50%); /* Yep! */
        border-radius: 15px;
        background-color: white;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 1vw;
        color: #212121;

        a:active {
            background-color: none;
          }

        a {
            text-decoration: none;
            color: #212121;
        }
    }
}