body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    color: white;

    #title {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 3vw;
    }

    #zdroje {
        position: absolute;
        font-size: 2vw;
        top: 20%;
        left: 2%;
    }

    #text {
        position: absolute;
        font-size: 2vw;
        margin-top: 30%;
        margin-left: 30%;

        a {
            text-decoration: none;
            font-size:white;
    
            a:active {
                background-color: none;
              }
    
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

}